@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Long+Cang&family=Marck+Script&family=Niconne&family=Prata&display=swap');
body{
    overflow: hidden;
    font-family: 'Prata', serif;
    background-size: cover;
}

/*-- Navbar--*/

.navbar{
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Prata', serif;
    font-size: .7rem;
    letter-spacing: .1em;
    background: rgba(0,0,0,.4)!important;
}

/*-- resizing the Logo--*/

.navbar-brand img {
    height: 3em;
}
/*-- end of re sizing--*/

.navbar-nav li{
    padding-right: .7rem;
}

.navbar-dark .navbar-nav .nav-link{
    color: rgb(124, 222, 235);
    padding-top: .8rem;

}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
    color:#0980f7;
}
/*--slider--*/
 .carousel-item {
     width: 100%;
     height: 100vh;
     background-size: 100% 100%;
 }

 .carousel-caption{
     position: absolute;
     top: 38%;
     text-transform: uppercase;
     color:#26a843;
     width: 100%;
     left: 0;
     right: 0;
 }

 .carousel-caption h1 {
     font-size: 3.8rem;
     font-weight: 700;
     letter-spacing: .3rem;
     text-shadow: .1rem .1rem .8rem black;
     padding-bottom: 1rem;
 }

 .carousel-caption h3{
     font-size: 2rem;
      text-shadow: .1rem .1rem .5rem black;
      font-family: 'Courgette', cursive;
      padding-bottom: 1.6rem;
 }

.btn-lg {
   border-width: medium;
   border-radius: 0;
   font-size: 1.1rem; 
}

 